.table__button.abyssal::after{
    content: "";
    position: absolute;
    cursor: pointer;
    left: -10px;
    top: 0;
    width: 50px;
    height: 50px;
   
    background-image: url(../img/icons/abyssal.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 1;
    background-size: cover;
}

.abyssal-visually{
    box-shadow: 0 0 10px blue, 0 0 40px blue, 0 0 80px blue;
    background-color: blue;
}

