.div_pets{
    width: 1000px;
    height: 500px;
    background-color: #aa7926fc;
    margin: auto;
    padding: 20px;
}
.close_pets{
    position: relative;
    left: 490px;
    top: -820px;
}
.pets_img{
    max-width: 165px;
    height: auto;
    cursor: pointer;
}
.pets_list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    padding: 0;
}
.pets_img:hover{
    animation: zoom 3s;
}
@keyframes zoom {
    0%{
    transform: scale(1.2);
    }
}

/* Кнопочки петов */
.button_pet{
    background:none;
    border: none;
}