/* Стилизую таблицу */
table,
td,
tr {
  border: 2px solid white;
  border-collapse: collapse;
  margin: auto;
}
.table{
  position: relative;
}
.table__button {
  top: -20px;
  position: relative;
  width: 100px;
  height: 50px;
  border-radius: 10px 0 19px 0;
  border: 2px solid green;
  background-color: #a3a4f5;
  padding-left: 30px;
  margin-top: 5px;
  margin-bottom: 0px;
}

button .strong_red {
  color: #c10202;
}

.modal-hero {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-hero__button-close,
.modal-table__button-close,
.close-pets__button {
  position: absolute;
  top: 11px;
  right: 24px;
  background-color: transparent;
  border: none;
  width: 21px;
  height: 21px;
}

.modal-hero__button-close::after,
.modal-table__button-close::after,
.close-pets__button::after {
  content: "";
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0;
  width: 21px;
  height: 21px;
 
  background-image: url(../img/icons/cross_2.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.modal-hero__button-close:hover,
.modal-table__button-close:hover,
.close-pets__button:hover {
  animation: zoom 3s infinite;
}

@keyframes zoom {
  0% {
    transform: scale(1.2);
  }
}
.nULLD,
.estra {
  width: 100px;
  height: 100px;
  color: blueviolet;
  background-color: blanchedalmond;
}

.table__button-hero {
  background-color: inherit;
  border: none;
  display: flex;
}
.test_1{
  width: 50px;
  height: 50px;
  margin: auto;
}

.table__button-hero:hover {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

td{
  width: 130px;
  height: 40px;
}

.header__table{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 20px;
  flex-wrap: nowrap;
}