.table__button-hero{
    border: none;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: 50% 50%;
    margin: auto;
    border-radius: 10px 0px 19px 0px;
}

.twins{
    background-image: url(../img/icons/Twins_Ascended.png);
}
.zolik{
    background-image: url(../img/icons/Zolrath_Ascended.png);
}
.estra{
    background-image: url(../img/icons/Estrilda_Ascended.png);
}
.anasta{
    background-image: url(../img/icons/Anasta_Ascended.png);
}
.mishka{
    background-image: url(../img/icons/Mishka_Ascended.png);
}
.greshul{
    background-image: url(../img/icons/Grezhul_Ascended.png);
}
.janna{
    background-image: url(../img/icons/Joan\ of\ Arc_Ascended.png);
}
.haelus{
    background-image: url(../img/icons/Haelus_Ascended.png);
}
.mortras{
    background-image: url(../img/icons/Mortas_Ascended.png);
}
.raine{
    background-image: url(../img/icons/Raine_Ascended.png);
}
.screg{
    background-image: url(../img/icons/Skreg_Ascended.png);
}
.eiron{
    background-image: url(../img/icons/Eironn_Ascended.png);
}
.hodg{
    background-image: url(../img/icons/Hodgkin_Ascended.png);
}
.merlin{
    background-image: url(../img/icons/Merlin_Ascended.png);
}
.palmer{
    background-image: url(../img/icons/Palmer_Ascended.png);
}
.skriath{
    background-image: url(../img/icons/Skriath_Ascended.png);
}
.saurus{
    background-image: url(../img/icons/Saurus_Ascended.png);
}
.silas{
    background-image: url(../img/icons/Silas_Ascended.png);
}
.albedo{
    background-image: url(../img/icons/Albedo_Ascended.png);
}
.varek{
    background-image: url(../img/icons/Warek_Ascended.png);
}
.nevati{
    background-image: url(../img/icons/Nevanthi_Ascended.png);
}
.izold{
    background-image: url(../img/icons/Izold_Ascended.png);
}
.daemon{
    background-image: url(../img/icons/Daimon_Ascended.png);
}
.alna{
    background-image: url(../img/icons/Alna_Ascended.png);
}
.lukra{
    background-image: url(../img/icons/Lucretia_Ascended.png);
}
.rosa{
    background-image: url(../img/icons/Rosaline_Ascended.png);
}
.kren{
    background-image: url(../img/icons/Kren_Ascended.png);
}
.raku{
    background-image: url(../img/icons/Raku_Ascended.png);
}
.oden{
    background-image: url(../img/icons/Oden_Ascended.png);
}
.arthur{
    background-image: url(../img/icons/Arthur_Ascended.png);
}
.orthros{
    background-image: url(../img/icons/Orthros_Ascended.png);
}
.ezish{
    background-image: url(../img/icons/Ezizh_Ascended.png);
}
.scarlet{
    background-image: url(../img/icons/Scarlet_Ascended.png);
}
.granit{
    background-image: url(../img/icons/Granit_Ascended.png);
}
.astar{
    background-image: url(../img/icons/Astar_Ascended.png);
}
.torn{
    background-image: url(../img/icons/Torne_Ascended.png);
}
.ainz{
    background-image: url(../img/icons/Ainz\ Ooal\ Gown_Ascended.png);
}
.talena{
    background-image: url(../img/icons/Talene_Ascended.png);
}
.khazard{
    background-image: url(../img/icons/Khazard_Ascended.png);
}
.sonja{
    background-image: url(../img/icons/Sonja_Ascended.png);
}
.nemora{
    background-image: url(../img/icons/Nemora_Ascended.png);
}
.toran{
    background-image: url(../img/icons/Thoran_Ascended.png);
}
.ldv{
    background-image: url(../img/icons/Leonardo_Ascended.png);
}
.mora{
    background-image: url(../img/icons/Morael_Ascended.png);
}
.mehira{
    background-image: url(../img/icons/Mehira_Ascended.png);
}
.rovan{
    background-image: url(../img/icons/Rowan_Ascended.png);
}
.lorsan{
    background-image: url(../img/icons/Lorsan_Ascended.png);
}
.ferael{
    background-image: url(../img/icons/Ferael_Ascended.png);
}
.queen{
    background-image: url(../img/icons/QUEEN_Ascended.png);
}
.athalia{
    background-image: url(../img/icons/Athalia_Ascended.png);
}
.hendrik{
    background-image: url(../img/icons/Hendrik_Ascended.png);
}
.luca{
    background-image: url(../img/icons/Lyca_Ascended.png);
}
.desira{
    background-image: url(../img/icons/Ezio_Ascended.png);
}
.vitalya{
    background-image: url(../img/icons/Veithael_Ascended.png);
}
.eorin{
    background-image: url(../img/icons/Eorin_Ascended.png);
}
.baden{
    background-image: url(../img/icons/Baden_Ascended.png);
}
.yenifer{
    background-image: url(../img/icons/Yennefer_Ascended.png);
}
.zaf{
    background-image: url(../img/icons/Zaphrael_Ascended.png);
}
.frempton{
    background-image: url(../img/icons/Framton_Ascended.png);
}
.taine{
    background-image: url(../img/icons/Thane_Ascended.png);
}
.antadra{
    background-image: url(../img/icons/Antandra_Ascended.png);
}
.tasi{
    background-image: url(../img/icons/Tasi_Ascended.png);
}
.izabella{
    background-image: url(../img/icons/Isabella_Ascended.png);
}
.geralt{
    background-image: url(../img/icons/Geralt_Ascended.png);
}
.odri{
    background-image: url(../img/icons/Audrae_Ascended.png);
}
.kanistra{
    background-image: url(../img/icons/Canisa\ &\ Ruke_Ascended.png);
}
.drez{
    background-image: url(../img/icons/Drez_Ascended.png);
}
.trenzor{
    background-image: url(../img/icons/Treznor_Ascended.png);
}
.mulan{
    background-image: url(../img/icons/Mulan_Ascended.png);
}
.kalena{
    background-image: url(../img/icons/Kalene_Ascended.png);
}
.ptalena{
    background-image: url(../img/icons/Talene_Awakened_Ascended.png);
}
.pezish{
    background-image: url(../img/icons/Ezizh_Awakened_Ascended.png);
}
.pobelka{
    background-image: url(../img/icons/Belinda_Awakened_Ascended.png);
}
.ptaine{
    background-image: url(../img/icons/Thane_Awakened_Ascended.png);
}
.pbrutus{
    background-image: url(../img/icons/Brutus_Awakened_Ascended.png);
}
.psolya{
    background-image: url(../img/icons/Solise_Awakened_Ascended.png);
}
.pbaden{
    background-image: url(../img/icons/Baden_Awakened_Ascended.png);
}

.tharnos{
    background-image: url(../img/icons/Tarnos_Ascended.png);
}

.flora{
    background-image: url(../img/icons/Flora_Ascended.png);
}

.tamrus{
    background-image: url(../img/icons/Tamrus_Ascended.png);
}
.edvin{
    background-image: url(../img/icons/Edwin_Ascended.png);
}

.maetria{
    background-image: url(../img/icons/Maetria_Awakened_Ascended.png);
}
