

/* Стилизую таблицу */

table,
td,
tr {
  border: 2px solid white;
  border-collapse: collapse;
}

.universl {
  transform: rotate(-90deg);
}

button .strong_red {
  color: #c10202;
}

.modal-hero {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-hero__button-close,
.modal-table__button-close,
.close-pets__button {
  position: absolute;
  top: 11px;
  right: 24px;
  background-color: transparent;
  border: none;
  width: 21px;
  height: 21px;
}

.modal-hero__button-close::after,
.modal-table__button-close::after,
.close-pets__button::after {
  content: "";
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0;
  width: 21px;
  height: 21px;
 
  background-image: url(../img/close-cross.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.modal-hero__button-close:hover,
.modal-table__button-close:hover,
.close-pets__button:hover {
  animation: rotation 1s infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.nULLD,
.estra {
  width: 100px;
  height: 100px;
  color: blueviolet;
  background-color: blanchedalmond;
}

.table__button-hero {
  background-color: inherit;
  border: none;
}

.table__button-hero:hover {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}
